<div class='row'>
  <div class='col-12 mt-2r'>
    <ul class='list-group'>
      <% errors.each do |error| %>
        <li class='list-group-item list-group-item-danger'><%= error %></li>
      <% end %>
    </ul>
  </div>
</div>
