<%= render 'filters' %>
<hr class='mt-2r'>
<div class='row'>
  <div class='col-12 commits-list'>
    <%= render('commits', commits: @commits, owner: @owner, repo: @repo) if @commits.present? %>
  </div>
</div>
