body {
  background-color: #fafbfc;
}

.custom-href {
  color: #24292e;
}

.commit-message {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  margin: 1rem;
  :hover {
    background-color: #f6f8fa;
  }
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.sha-link {
  text-align: center;
}

.sha-link a {
  font-size: 0.9rem;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.mt-4r {
  margin-top: 4rem;
}

.mt-2r {
  margin-top: 2rem;
}

.mt-small {
  margin-top: 0.4rem;
}

.list-group-item-danger {
  margin-bottom: 1rem;
}

.font-weight-600 {
  font-weight: 600;
}
